body {
    background-color: F5F5F5;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
a {
    text-decoration: none;
}

.gallery {
    max-width: 1128px;
    padding: 156px 24px;
        margin: 0 auto;
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 24px;
}

.gallery-item {
   
    width: calc((100% - 24 * 2) / 3);
}
.gallery-image {
    width: 360px;
    height: 200px;
}


